<nav class="navbar navbar-light" id="navbar-prop" style="position:fixed;top:0;width:100%;z-index: 10000;">
    <a class="navbar-brand" href="/">
        <img src="/images/guia.png" alt="logo">
    </a>
</nav>